@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-primary: rgb(231, 233, 234);
    --color-text-secondary: rgb(113, 118, 123);
    --color-btn-accent: rgb(29, 155, 240);
    --color-border: rgba(255, 255, 255, 0.22);
    --color-btn-hover: rgba(231, 233, 234, 0.1);
    --color-text-inputs: rgb(231, 233, 234);
    --color-inputs-bg: rgb(32, 35, 39);
    --color-secondary: rgb(22, 24, 28);
  }
}

.loading {
  animation: skeleton-loading 1s linear infinite alternate;
  outline: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(38, 38, 38);
  }

  100% {
    background-color: rgb(38, 38, 38, 0.5);
  }
}

body {
  font-family: Arial, Helvetica, "Segoe UI", sans-serif;
}
